

body {
    text-align: center;
}

form {
    display: inline-block;
}


div.input{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.input label{
    color: navy;
    position: absolute;
    top:0;
    transform: translateY(-50%);
    background: white;
    left: 10px;
    padding: 5px 2px;
}

div.input input{
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}

p {
    color: navy;
    border-top: 2px solid navy;
}

.carousel-caption {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

#navCategories{
        cursor: default;       
}

table {
    border-collapse: separate;
    border-spacing: 1em;
    
}


.card-img-top {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;   
}

.card-img-top:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.sub-menu {
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
  }
